.panelHandle {
  position: absolute;
  z-index: 2;
  top: 32px;
  display: none;
  width: 64px;
  height: 64px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: #232526;
  opacity: 1;
  transform: opacity 0.3s ease-in-out;

  &.panelHandleLeft {
    left: calc(100% - 1px);
    border-radius: 0 12px 12px 0;
    border-left: 0;
  }

  &.panelHandleRight {
    right: calc(100% - 1px);
    border-radius: 12px 0 0 12px;
    border-right: 0;
  }

  &.hidden {
    opacity: 0;
  }

  @media (max-width: 720px) {
    display: block;
  }
}

.panel {
  position: absolute;
  z-index: 2;
  top: 24px;
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  background: #232526;
  transition: transform 0.3s ease-in-out;
  user-select: none;

  &.hidden {
    display: none;
  }

  &.icons {
    position: relative;
    left: 24px;
    height: calc(100vh - 102px);
    padding-bottom: 0;
    gap: 16px;

    .panelHandle {
      left: calc(100% - 1px);
    }

    @media (max-width: 720px) {
      left: 0;
      transform: translateX(-100%) scale(0.96);
      &.opened {
        box-shadow: 1px 0px 0px 500px rgb(0 0 0 / 75%);
        transform: translateX(0) scale(1);
      }
    }
  }

  &.options {
    right: 24px;
    height: calc(100vh - 200px);
    padding: 0;

    .panelHandle {
      right: calc(100% - 1px);
    }

    @media (max-width: 720px) {
      right: 0;
      transform: translateX(100%) scale(0.96);
      &.opened {
        box-shadow: -1px 0px 0px 500px rgb(0 0 0 / 75%);
        transform: translateX(0) scale(1);
      }
    }
  }
}
