.section {
  width: 100%;

  summary {
    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
    position: relative;
    display: flex;
    width: 100%;
    height: 32px;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    border-radius: 6px;
    margin-bottom: 12px;

    background: #343434;
    color: #ffffff;
    cursor: pointer;

    font-size: 13px;
    gap: 12px;
    outline: none;

    .closed {
      display: none;
    }
    .opened {
      display: block;
    }

    &:focus-visible {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    }

    svg {
      position: absolute;
      top: 50%;
      right: 16px;
      width: 16px;
      height: 16px;
      color: rgba(255, 255, 255, 0.4);
      transform: translateY(-50%);
    }
  }

  &[open] summary {
    .closed {
      display: block;
    }
    .opened {
      display: none;
    }
  }

  & > div {
    padding-bottom: 20px;
  }
}

.formItem {
  display: flex;
  min-height: 36px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;

  transition: opacity 0.15s ease-in-out;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  & > span {
    flex-grow: 2;
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
  }

  & + .formItem {
    margin-top: 12px;
  }
}
