.preview {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 512px;
  height: 512px;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  transform: translate(-50%, -50%);
}

.scaleContainer {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 3.125%;

  svg {
    width: auto;
    height: auto;
  }
}

.dimensions {
  position: absolute;
  z-index: 2;
  top: calc(100% + 8px);
  display: flex;
  min-width: 70px;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}
