.root {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 500;
}

.trigger {
  all: unset;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  margin-top: -8px;
  margin-left: -8px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;

  &:focus-visible {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    outline: none;
  }

  & svg {
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.4);
    transition: 300ms ease;
  }

  &[aria-expanded='true'] svg {
    transform: rotate(180deg);
  }
}

.content {
  overflow: hidden;
}

.content[data-state='open'] {
  animation: slideDown 300ms ease-out;
}

.content[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 500;
  gap: 8px;
}

.itemButton {
  all: unset;
  padding: 8px;
  border-radius: 9999px;
  margin-right: 1px;
  margin-left: auto;
  color: #ff6363;

  &:hover {
    background-color: rgba(255, 99, 99, 0.15);
  }

  &:focus-visible {
    box-shadow:
      inset 0 0 0 1px rgba(255, 99, 99, 0.15),
      0 0 0 1px rgba(255, 99, 99, 0.15);
  }
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 8px;

  & button {
    justify-content: center;
  }
}
