.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  aspect-ratio: 1.58 / 1;
  padding: 16px;
  border: none;
  border-radius: 16px;
  gap: 12px;
  overflow: hidden;
  outline: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: box-shadow 150ms ease;
  scroll-snap-align: center;
  scroll-snap-stop: always;

  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);

  :global(.dark) & {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
    :global(.dark) & {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    }
  }

  &.selected {
    box-shadow:
      inset 0 0 0 1px rgba(0, 0, 0, 0.6),
      0 0 29px 10px rgba(0, 0, 0, 0.06);
    :global(.dark) & {
      box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.6),
        0 0 29px 10px rgba(255, 255, 255, 0.06);
    }
  }
}

.preview {
  overflow: hidden;
  border-radius: 8px;
  flex: 1;
  width: 100%;
}

.previewInner {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);

  :global(.dark) & {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 0;
  font-size: 14px;
  text-align: left;
}

.name {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dots {
  display: flex;
  gap: 4px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
