.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1536px;
  height: 30px;
  margin: 32px auto 0;
  padding: 0 16px;
}

.center {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
